@font-face {
    font-family: "inter";
    src: url(../fonts/Inter-Italic-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: "work";
    src: url(../fonts/WorkSans-Black.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    background-color: black;
}